{% extends "inventory/inventory_dashboard_home.html"%}

{% block navbar %}
{% include "chunks/navbar.html" %}
{% endblock %}


{% block db_body %}
    <div class="dashboard_body">
        <div class="dashboard_sidebar">
            <ul>
                <!-- <li><h1>Sidebar</h1></li> -->
                <li data-tab-target="tabs-stats">
                    <div id="sb-stats" class="icon_container">
                    <p><span class="material-symbols-outlined">inventory_2</span></p>
                    <label>Inventory Stats</label>
                    </div>
                 </li>

                <li data-tab-target="tabs-item">
                    <div id="sb-items" class="icon_container">
                        <p><span class="material-symbols-outlined">
                            library_books
                            </span></p>
                        <label>Inventory Items</label>
                    </div>
                </li>
            </ul>
        </div>
        <div class="dashboard_ui">
            <div id="tabs-stats" data-tab-content class="active">
                {% include "chunks/enumerate_inventory.html" %}
            </div>

            <div id="tabs-item" data-tab-content>
                <h1>This is the items tab</h1>
                <p>Random writings will appear here too.</p>
                <hr>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus aut eveniet fuga numquam magni veniam tempore velit nisi sunt dolorum, earum minus nam tenetur sint alias dolor saepe, ab repudiandae.</p>
            </div>
        </div>
    </div>
{% endblock %}
