{% extends "inventory/inventory_dashboard_home.html"%}

{% block navbar %}
{% include "chunks/navbar.html" %}
{% endblock %}


{% block db_body %}
    <div class="dashboard_body">
        <div class="dashboard_sidebar">
            <ul>
                <!-- <li><h1>Sidebar</h1></li> -->
                <li data-tab-target="tabs-stats">
                    <div id="sb-stats" class="icon_container">
                    <p><span class="material-symbols-outlined">inventory_2</span></p>
                    <label>Items</label>
                    </div>
                 </li>

                <li data-tab-target="tabs-item">
                    <div id="sb-items" class="icon_container">
                        <p><span class="material-symbols-outlined">
                            library_books
                            </span></p>
                        <label>Stats</label>
                    </div>
                </li>
            </ul>

            <div class="lower_tab_items">
                <hr style="color: white; box-shadow: -2px 1px 5px white;">
                <a href="{% url 'mngr-home' %}">Home</a>
                <a href="{% url 'mngr-products' %}">Category</a>
                <a href="#">Contacts</a>
                <a href="#">Logout</a>
            </div>
        </div>
        <div class="dashboard_ui">
            <div id="tabs-stats" data-tab-content class="active">
                <div class="tabs_view_wrapper">
                    {% include "chunks/enumerate_inventory.html" %}
                </div>
            </div>

            <div id="tabs-item" data-tab-content>
                <h1>This is the items tab</h1>
                <p>Random writings will appear here too.</p>
                <hr>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus aut eveniet fuga numquam magni veniam tempore velit nisi sunt dolorum, earum minus nam tenetur sint alias dolor saepe, ab repudiandae.</p>
            </div>
        </div>
    </div>
{% endblock %}
