@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Outfit:wght@100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

/* Global Variables */
:root {
    --global-font-style-navbar-menu: "Roboto Mono";
    --global-font-style-navbar-title: "DM Serif Display";
    --global-font-style-navbar-section-title: "Outfit";
  }

.tx_header {
    display: flex;
    width: 100%;
    height: calc(100dvh - 80dvh);
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    background-color: rgb(211, 211, 211);
    padding: 2rem;

}
.tx_header > * {
  font-family: var(--global-font-style-navbar-section-title);
  font-weight: bolder;
  font-size: 4rem;
}
.tx_header > div {
  height: 5rem;
  margin: 20px 20px;
  background-color: rgb(211, 211, 211);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px dashed black;
  border-radius: 20px;
}

.tx_header > div > * {
  margin: 0 20px;


}

/* Transaction DB styles */

.transaction_db {
  margin: 2rem;
  padding: 1rem;
  background-color: rgba(194, 194, 194, 0.363);
  border-radius: 5px;
}

/* Forms Styles */

form > p > label, input, select {
  font-family: var(--global-font-style-navbar-menu);
}

select {
  height: 20dvh;
}


.transaction_db > h2 {
  font-family: var(--global-font-style-navbar-section-title);
  font-weight: bolder;

}

form > p > label {
  font-weight: 500;
}


button {
  font-size: 1rem;
}

#price_placeholder {
  font-family: var(--global-font-style-navbar-section-title);
  font-size: 1.5rem;
}

#price_placeholder > #totalPrice {
  font-weight: bolder;
  color: rgb(0, 0, 0);
  font-size: 1.5rem;
}

/* Logs */
.tx_log_wrapper {
  margin: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.tx_log_wrapper > div {
  border: 2px solid black;
  border-radius: 5px;
  margin: 5px;
}


td, th {
  padding: 0 10px;
}
@media screen and (max-width:996px) {

}

