{% extends "transactions/transactions_dashboard_home.html"%}

{% block db_body %}
    <div class="dashboard_body">
        <div class="dashboard_sidebar">
            <ul>
                <!-- <li><h1>Sidebar</h1></li> -->
                <li data-tab-target="tabs-stats">
                    <div id="sb-stats" class="icon_container">
                        <p><span class="material-symbols-outlined">point_of_sale</span></p>
                        <label>Transact</label>
                    </div>
                 </li>

                <li data-tab-target="tabs-item">
                    <div id="sb-items" class="icon_container">
                        <p><span class="material-symbols-outlined">
                            contract
                            </span></p>
                        <label>Logs</label>
                    </div>
                </li>
            </ul>

            <div class="lower_tab_items">
                <p>Transactions</p>
                <hr style="color: white; box-shadow: -2px 1px 5px white;">
                <a href="{% url 'inventory-dashboard' %}">Inventory</a>
                <hr style="color: white; box-shadow: -2px 1px 5px white;">
                <a href="{% url 'mngr-home' %}">Home</a>
                <a href="{% url 'mngr-products' %}">Category</a>
                <a href="#">Contacts</a>
                {% if user.is_authenticated %}
                    <a href="{% url 'logout'  %}">Logout</a>
                {% else %}
                    <a href="{% url 'login'  %}">Login</a>
                {% endif %}
            </div>
        </div>
        <div class="dashboard_ui">
            <div id="tabs-stats" data-tab-content class="active">
                {% include "chunks/transaction_transact_header.html" %}
                <div class="tabs_view_wrapper">
                    {% include "chunks/transaction_transact.html" %}
                </div>
            </div>

            <div id="tabs-item" data-tab-content>
                {% include "chunks/transaction_log_header.html" %}
                <div class="tabs_view_wrapper">
                    {% include "chunks/transaction_logs.html" %}
                </div>

            </div>
        </div>
    </div>
{% endblock %}
