{% extends 'home/homepage.html' %}

{% block home_navbar %}
<div class="navbar">
    <h1><span>A.J. LPG Store </span>| Sale and Inventory</h1>
    <nav>
        <ul class="nav_links">
            <li><a href="#">Home</a></li>
            <li><a href="#">Account</a></li>
            <li><a href="#">Logout</a></li>
        </ul>
    </nav>
    <a href="#" class="cta"><button class="cta-bt">Contact</button></a>
    <div class="toggle_menu">
        <button><span class="material-symbols-outlined">widgets</span></button>
    </div>


    
</div>
{% endblock %}