@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Outfit:wght@100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

/* Global Variables */
:root {
    --global-font-style-navbar-menu: "Roboto Mono";
    --global-font-style-navbar-title: "DM Serif Display";
    --global-font-style-navbar-section-title: "Outfit";
    --wrapper-dims: clamp(5rem, 10rem + 10dvw, 12rem)
  }
  
.app_gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section_title > h1 {
    font-family: var(--global-font-style-navbar-title);
    margin: 1.5rem 0;
}

.tiles {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;

}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10%;
}

.box_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(208, 208, 208);
    width: 20rem;
    height: 10rem;
    border-radius: 25px;
    border: none;
    transition: all 0.35s cubic-bezier(0.215, 0.610, 0.355, 1);
    padding:1rem 0;
}

.box_wrapper:hover{
    background-color: rgb(150, 148, 148);
}

.box_wrapper > img {
    height: clamp(60px, 60px + 1dvw, 120px);
    width: auto;
}

.box_wrapper > p {
    text-align: center;
    font-family: var(--global-font-style-navbar-menu);
    font-size: .7rem;
}

.box > a {
    text-decoration: none;
    color: black;
}

@media screen and (max-width:996px) {
    .tiles{
        grid-template-columns: repeat(1,1fr);
    }

    .box_wrapper {
        width: 40dvw;
    }
}