body {
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
    overscroll-behavior: none;
}

.foot_bar {
    position: absolute;
    display: block;
    width: 100dvw;
    height: auto;
}