@media screen and (orientation: portrait) {
  :root {
    --font-size-port: 3rem ;
    --margin_title: 1rem ;
  }
}

@media screen and (min-width: 421px) and (orientation: landscape) {
  :root {
    --font-size-port: 2rem ;
    --margin_title: 0.5rem;
    .navbar a {
      float: right;
      display: block;
    }
  }
}

body {
  font-size: 14px;
  margin: 0;
  font-family: Arial, sans-serif;
  }
}
.header {
  display: none;
}

.navbar {
  overflow: hidden;
  background-color: #333;
}

.navbar a {
  float: right;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.navbar > h1 {
  color: rgb(255, 255, 255);
  font-size: var(--font-size-port);
  display: block;
  float: left;
  margin: auto;
  padding-left: 25px;
  padding-top: 5px;
  margin: var(--margin_title)

}
