@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Outfit:wght@100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
:root {
  --global-font-style-navbar-menu: "Roboto Mono";
  --global-font-style-navbar-title: "DM Serif Display";
  --global-font-style-navbar-section-title: "Outfit";
}

.section {
  display: flex;
  margin: 1rem;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.product_cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  padding: 1rem;
  width: 80dvw;
  gap: 10px;
}

.product_cont > p , small, h2{
  font-family: var(--global-font-style-navbar-menu);
  margin: 0;
  text-align: center;
}

.product_cont > img {
  width: 30dvw;
}

.product_cont > h2 {
  margin:5px 0;
  font-weight: bold;
  font-size: clamp(0.5rem, calc(1rem+0.65dvw), 3rem);
}

.product_cont > ol {
  margin: 10px 0;
}
.product_cont > ol > li {
  text-align: justify;
}

.p_wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 15px;
  padding: 1rem;
  border: 5px solid brown;
  border-radius: 35px;
}

.product_cont > p {
  margin-top: 2rem;
  font-family: var(--global-font-style-navbar-title);
  font-size: clamp(0.8rem, 1rem + 0.7dvw, 1.5rem);
}

.prompt-noproduct {
  color: brown;
  font-family: var(--global-font-style-navbar-title);
  font-size: clamp(1rem, 1.5rem + 1.65dvw, 5rem);
}

.add_elements {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
  margin: 2rem 0;
  gap: 1rem;
  border: 5px solid brown;
  border-radius: 24px;
  padding: 1rem;
}

.add_elements > a {
  text-decoration: none;
}

.mini_button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 80px;

  border-radius: 10px;
  border: 1px, dashed, rgb(0, 0, 0);

  transition: all 0.5s ease;
}


.mini_button > * {
  color: black;
  margin: 10px 1rem;

}

.mini_button > span {
  font-size: clamp(2rem, 2.5rem, 4rem);
}
.mini_button > small {
  margin: 2px 1rem;
  font-size: clamp(.5rem, .75rem, 1rem);
  transition: all 0.5s ease;
}

.mini_button:hover {
  background-color: brown;
}

.mini_button:hover small, .mini_button:hover span {
  color: white;
  transition: color 0.5s ease;
}

.section > h1 {
  font-family: var(--global-font-style-navbar-title);
}

.wrapper_cat_supp {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 2rem;
  width: 80dvw;
}

.wrapper_cat_supp > div {
  display: flex;
  flex-direction: column;
  border: 5px solid brown;
  border-radius: 25px ;
  padding: 0.5rem 1rem;
}

.category_view {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.category_view > h1 , .supplier_view > h1 {
  font-size: 1.5rem;
  font-family: var(--global-font-style-navbar-section-title);
  text-align: center;
  margin: 5px;
  padding: 3px;
}

.category_view > h2, .supplier_view > h2 {
  font-size: 1.5rem;
  font-family: var(--global-font-style-navbar-section-title);
  margin: 10px;
}

.cat_wrap, .sup_wrap {
  display: block;
  margin: 3px;
  padding: 4px;
  width: 100%;

  border: 1px dashed black;
  border-radius: 10px;

  transition: all 0.5s ease;
}

.cat_wrap:hover, .sup_wrap:hover {
  background-color: brown;
}

.cat_wrap:hover .content, .sup_wrap:hover .content{
  color: white;

  transition: color 0.5s ease;
}

.cat_wrap > a , .sup_wrap  > a {
  display: block;
  text-decoration: none;
  font-family: var(--global-font-style-navbar-menu);
  font-weight: bold;
  text-align: center;
}

.cat_wrap > a > p, .sup_wrap > a > p{
  color: black;
  margin: 0;
  font-weight: 500;
  font-size: 0.8rem;
}

.supplier_view {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}


.sup_wrap > a:nth-child(1) > p {
  font-size: 1rem;
  font-weight: bold;
  text-decoration: underline;
}


@media screen and (max-width: 996px) {
  .add_elements{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
  }
  .product_cont > img {
    width: 50dvw;
  }

  .mini_button {
    min-width: 90px; /* Adjust the minimum width for smaller screens */
  }
  .mini_button > small {
    font-size: clamp(.4rem, .5rem + .5dvw, .8rem); /* Adjust the font size for smaller screens */
    margin: 5px 1rem;
  }
  .mini_button > span {
    font-size: clamp(.7rem, 4rem + 7dvw, 3rem);
    margin: 5px;
  }
  .mini_button > * {
    color: brown;
  }

  .p_wrapper {
    grid-template-columns: auto;
  }

  .wrapper_cat_supp {
    display: grid;
    grid-template-columns: auto;
    gap: 2rem;
    width: 60dvw;
  }
}