<!-- Will view the element if everything is empty -->
{% if inventory_count == 0 %}
    <div class="empty_body">
        <h1>There's nothing here!</h1>
        <lottie-player src="https://lottie.host/03724ec4-5a16-49a8-9ed0-49f806bf4f1f/dhPoiWl7UD.json" background="transparent" speed="1" style="width: 600px; height: 600px" direction="1" mode="normal" loop autoplay></lottie-player>
        <p>No inventory information was found. Try to add new items in the inventory.<br>
        Click the button below to add new inventory entries.</p>
        <a href="{% url 'mngr-forms' %}?formID=stocks">
            <div class="button_plus">
                <span class="material-symbols-outlined">
                    add_box
                </span>
                <p>Add Entry</p>
            </div>
        </a>
    </div>

{% elif inventory_count != 0 %}
    <div class="item_wrapper">
        <div class="header_wrapper stock_available">
            <h1>Available Items</h1>
        </div>
        <div class="grid_wrap">
        {% for item in inventory %}
            {% if item.status == 'available' %}
                <div class="inventory_container stock_available">
                    <h1>{{ item.stock_name }}</h1> 
                    <p>Loc: {{ item.location }}</p>   
                    <p>Sup: {{ item.supplier.name }}</p>
                    <p>Exp: {{ item.expiry_date }}</p>  
                    <hr>
                    <p class="below">Added: {{ item.date_received }}</p>
                    <span class="below">id: {{ item.id }}</span> 
                </div>
            {% endif %}
        {% endfor %}
        </div>
    </div>
    <br>
    <div class="item_wrapper">
        <div class="header_wrapper stock_not_available">
            <h1>Unavailable Items</h1>
        </div>
        <div class="grid_wrap">
        {% for item in inventory %}
            {% if item.status == 'not_available' %}
                <div class="inventory_container stock_not_available">
                    <h1>{{ item.stock_name }}</h1> 
                    <p>Loc: {{ item.location }}</p>   
                    <p>Sup: {{ item.supplier.name }}</p>
                    <p>Exp: {{ item.expiry_date }}</p>  
                    <hr>
                    <p class="below">Added: {{ item.date_received }}</p>
                    <span class="below">id: {{ item.id }}</span> 
                </div>
            {% endif %}
        {% endfor %}
        </div>
    </div>
    <br>
    <div class="item_wrapper">
        <div class="header_wrapper stock_phased_out">
            <h1>Phased Out</h1>
        </div>
        <div class="grid_wrap">
        {% for item in inventory %}
            {% if item.status == 'phased_out' %}
                <div class="inventory_container stock_phased_out">
                    <h1>{{ item.stock_name }}</h1> 
                    <p>Loc: {{ item.location }}</p>   
                    <p>Sup: {{ item.supplier.name }}</p>
                    <p>Exp: {{ item.expiry_date }}</p>  
                    <hr>
                    <p class="below">Added: {{ item.date_received }}</p>
                    <span class="below">id: {{ item.id }}</span> 
                </div>
            {% endif %}
        {% endfor %}
        </div>
    </div>

{% endif %}
