<!-- Will view the element if everything is empty -->
{% if inventory_count == 0 %}
    <div class="empty_body">
        <h1>There's nothing here!</h1>
        <lottie-player src="https://lottie.host/03724ec4-5a16-49a8-9ed0-49f806bf4f1f/dhPoiWl7UD.json" background="transparent" speed="1" style="width: 600px; height: 600px" direction="1" mode="normal" loop autoplay></lottie-player>
        <p>No inventory information was found. Try to add new items in the inventory.<br>
        Click the button below to add new inventory entries.</p>
        <a href="{% url 'mngr-forms' %}?formID=stocks">
            <div class="button_plus">
                <span class="material-symbols-outlined">
                    add_box
                </span>
                <p>Add Entry</p>
            </div>
        </a>
    </div>

{% elif inventory_count != 0 %}
    <svg xmlns="http://www.w3.org/2000/svg" class="d-none">
        <symbol id="check-circle-fill" viewBox="0 0 16 16">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
        </symbol>
    </svg>

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success d-flex alert-dismissible align-items-center fade show" role="alert">
                <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Success:" style="width: 1.5em; height: 1.5em;">
                    <use xlink:href="#check-circle-fill"/>
                </svg>
                <strong>Note:</strong> {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endif %}


    <div class="item_wrapper">
        <div class="header_wrapper stock_available">
            <h1>Available Items</h1>
        </div>
        <div class="grid_wrap">
        {% for item in for_sale %}
            <div class="inventory_container stock_available">
                <h1>{{ item.stock_name }}</h1> 
                <p class="below">Added: {{ item.date_received }}</p>
                <span class="below">id: {{ item.id }}</span> 

                <!-- Button trigger modal -->
                <button type="button" class="btn btn-dark large-screen-button" data-bs-toggle="modal" data-bs-target="#{{ item.id }}">
                    View Item
                </button>

                <button type="button" class="btn btn-dark small-screen-button" data-bs-toggle="modal" data-bs-target="#{{ item.id }}">
                    <span class="material-symbols-outlined">
                        pageview
                    </span>
                </button>

                <!-- Modal View-->
                <div class="modal fade" id="{{ item.id }}" tabindex="-1" aria-labelledby="mod{{ item.id }}" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="{{ item.id }}">{{ item.stock_name }}</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p><span>Product Type:</span> {{ item.product }}</p>
                                <p><span>Product Category:</span> {{ item.product.category }}</p>
                                <p><span>Location:</span> {{ item.location }}</p>
                                <p><span>Supplier:</span> {{ item.supplier }}</p>
                                <hr>
                                <p><span>Date Added:</span> {{ item.date_received }}</p>
                                <p><span>Date Last Ordered:</span> {{ item.date_last_ordered }}</p>
                                <p><span>Expiry Date:</span> {{ item.expiry_date }}</p>
                                <hr>
                                <p><span class="below">id: {{ item.id }}</span> </p>
                            </div>
                            <div class="modal-footer">
                                <a href="{% url 'inventory-item' item.id %}?formID=stocks" data-toggle="tooltip" title="Edit"><span class="material-symbols-outlined">
                                    edit
                                    </span></a>
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal" data-toggle="tooltip" data-placement="top" title="Close"><span class="material-symbols-outlined">
                                    close
                                    </span></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        {% endfor %}
        </div>
    </div>
    <br>
    <div class="item_wrapper">
        <div class="header_wrapper stock_not_available">
            <h1>Unavailable Items</h1>
        </div>
        <div class="grid_wrap">
        {% for item in all %}
            {% if item.status == 'not_available' %}
                <div class="inventory_container stock_not_available">
                    <h1>{{ item.stock_name }}</h1> 
                    <p class="below">Added: {{ item.date_received }}</p>
                    <span class="below">id: {{ item.id }}</span> 

                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-dark large-screen-button" data-bs-toggle="modal" data-bs-target="#{{ item.id }}">
                        View Item
                    </button>

                    <button type="button" class="btn btn-dark small-screen-button" data-bs-toggle="modal" data-bs-target="#{{ item.id }}">
                        <span class="material-symbols-outlined">
                            pageview
                        </span>
                    </button>
                    
                    <!-- Modal View-->
                    <div class="modal fade" id="{{ item.id }}" tabindex="-1" aria-labelledby="mod{{ item.id }}" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="{{ item.id }}">{{ item.stock_name }}</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <p><span>Product Type:</span> {{ item.product }}</p>
                                    <p><span>Location:</span> {{ item.location }}</p>
                                    <p><span>Supplier:</span> {{ item.supplier }}</p>
                                    <hr>
                                    <p><span>Date Added:</span> {{ item.date_received }}</p>
                                    <p><span>Date Last Ordered:</span> {{ item.date_last_ordered }}</p>
                                    <p><span>Expiry Date:</span> {{ item.expiry_date }}</p>
                                    <hr>
                                    <p><span class="below">id: {{ item.id }}</span> </p>
                                </div>
                                <div class="modal-footer">
                                    <a href="{% url 'inventory-item' item.id %}?formID=stocks" data-toggle="tooltip" title="Edit"><span class="material-symbols-outlined">
                                        edit
                                        </span></a>
                                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal" data-toggle="tooltip" data-placement="top" title="Close"><span class="material-symbols-outlined">
                                        close
                                        </span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
        </div>
    </div>
    <br>
    <div class="item_wrapper">
        <div class="header_wrapper stock_phased_out">
            <h1>Phased Out</h1>
        </div>
        <div class="grid_wrap">
        {% for item in inventory %}
            {% if item.status == 'phased_out' %}
                <div class="inventory_container stock_phased_out">
                    <h1>{{ item.stock_name }}</h1> 
                    <p class="below date">Added: {{ item.date_received }}</p>
                    <span class="below">id: {{ item.id }}</span> 

                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-dark large-screen-button" data-bs-toggle="modal" data-bs-target="#{{ item.id }}">
                        View Item
                    </button>

                    <button type="button" class="btn btn-dark small-screen-button" data-bs-toggle="modal" data-bs-target="#{{ item.id }}">
                        <span class="material-symbols-outlined">
                            pageview
                        </span>
                    </button>

                    <!-- Modal View-->
                    <div class="modal fade" id="{{ item.id }}" tabindex="-1" aria-labelledby="mod{{ item.id }}" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="{{ item.id }}">{{ item.stock_name }}</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <p><span>Product Type:</span> {{ item.product }}</p>
                                    <p><span>Location:</span> {{ item.location }}</p>
                                    <p><span>Supplier:</span> {{ item.supplier }}</p>
                                    <hr>
                                    <p><span>Date Added:</span> {{ item.date_received }}</p>
                                    <p><span>Date Last Ordered:</span> {{ item.date_last_ordered }}</p>
                                    <p><span>Expiry Date:</span> {{ item.expiry_date }}</p>
                                    <hr>
                                    <p><span class="below">id: {{ item.id }}</span> </p>
                                </div>
                                <div class="modal-footer">
                                    <a href="{% url 'inventory-item' item.id %}?formID=stocks" data-toggle="tooltip" title="Edit"><span class="material-symbols-outlined">
                                        edit
                                        </span></a>
                                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal" data-toggle="tooltip" data-placement="top" title="Close"><span class="material-symbols-outlined">
                                        close
                                        </span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
        </div>
    </div>

{% endif %}
