<div class="tx_log_wrapper">
    <h1>Revenue</h1>
    <div class="stat_wrap">
        {% if transaction_count == 0 %}
        <p>No transaction logs were found.</p>
    {% else %}
        <img src="data:image/png;base64,{{ plotly_sold_all }}" alt="BarPlot-Rev">
        <img src="data:image/png;base64,{{ plotly_sold_daily }}" alt="BarPlot-Rev">
        <img src="data:image/png;base64,{{ plotly_sold_quarterly }}" alt="BarPlot-Rev">
    {% endif %}
    </div>
</div>


<div class="tx_log_wrapper">
    <h1>Profit Margin</h1>
    <div class="stat_wrap">
        {% if transaction_count == 0 %}
        <p>No transaction logs were found.</p>
    {% else %}
        <img src="data:image/png;base64,{{ plotly_profit_all }}" alt="BarPlot-Profit">
        <img src="data:image/png;base64,{{ plotly_profit_daily }}" alt="BarPlot-Profit">
        <img src="data:image/png;base64,{{ plotly_profit_quarterly }}" alt="BarPlot-Profit">
    {% endif %}
    </div>
</div>
