<div class="app_gallery">
    <div class="section_title">
        <h1>Management Tools</h1>
    </div>
    <div class="tiles">
        <div class="box">
            <a href="{% url 'mngr-products' %}">
                <div class="box_wrapper">
                    <img src="../../static/images/add-product.png" alt="add_product">
                    <p>Add Product Categories</p>
                </div>
            </a>
        </div>

        <div class="box">
            <a href="{% url 'transactions-dashboard' %}">
                <div class="box_wrapper">
                    <img src="../../static/images/dashboard.png" alt="dashboard">
                    <p>Dashboard</p>  
                </div>
            </a> 
        </div>
        
        <div class="box">
            <a href="{% url 'inventory-dashboard' %}">
                <div class="box_wrapper">
                    <img src="../../static/images/inventory.png" alt="inventory">
                    <p>Inventory</p>
                </div>
            </a>
        </div>
        
        <div class="box">
            <a href="account">
                <div class="box_wrapper">
                    <img src="../../static/images/user-avatar.png" alt="account">
                    <p>Account Management</p>
                </div>
            </a>
        </div>
    </div>
</div>

