

<div class="add_elements">
    <a href="#">
        <div class="mini_button">
            <span class="material-symbols-outlined">category</span>
            <small>Category</small>
        </div>

        <!-- Category -->
    </a>
    <a href="#">
        <div class="mini_button">
            <span class="material-symbols-outlined">person_add</span>
            <small>Add Supplier</small>
            <!-- Supplier -->
        </div>
        
    </a>
    <a href="#">
        <div class="mini_button">
            <span class="material-symbols-outlined">inventory_2</span>
            <small>Product Specs</small>
        </div>
        <!-- Product Specs or Product Model-->
    </a>
    <a href="#">
        <div class="mini_button">
            <span class="material-symbols-outlined">checklist</span>
            <small>Inventory</small>
            <!-- Stocks -->
        </div>
    </a>



</div>