<h2 class="prompt-noproduct">No Products Found</h2>
<img src="../../static/images/nada.jpg" alt="nada">
<br>
<h2>
   <strong>Steps in adding products to your inventory</strong> 
</h2>
<ol>
    <li><strong>Create a category</strong> - Product category 
        should be assigned for each product type. This is helpful
         especially for categorizing large inventory.</li>
    <li><strong>Define Supplier Information</strong> - embedding supplier
    information is also vital for us to take note particularly if we want to report defective products or any
    problems that can be addressed by the supplier.</li>
    <li><strong>List down product information</strong> - register
    your product information here. Any information including the 
    technical specifications and pricing are vital.</li>
    <li><strong>Inventory Status</strong> - now that you have successfully
    defined all product information, you can now list down inventory
    informations using all the schema provided earlier.</li>
</ol>
<br><hr>
<p><strong>Tools</strong></p>