<div class="add_elements">
    <a href="{% url 'mngr-forms' %}?formID=category">
        <div class="mini_button">
            <span class="material-symbols-outlined">category</span>
            <small>New Category</small>
        </div>

        <!-- Category -->
    </a>
    <a href="{% url 'mngr-forms' %}?formID=supplier">
        <div class="mini_button">
            <span class="material-symbols-outlined">person_add</span>
            <small>Add Supplier</small>
            <!-- Supplier -->
        </div>
        
    </a>
    <a href="{% url 'mngr-forms' %}?formID=productSpecs">
        <div class="mini_button">
            <span class="material-symbols-outlined">inventory_2</span>
            <small>Add Product</small>
        </div>
        <!-- Product Specs or Product Model-->
    </a>
    <a href="{% url 'entry-mngr' %}">
        <div class="mini_button">
            <span class="material-symbols-outlined">delete</span>
            <small>Delete Items</small>
        </div>
        <!-- Manage entries-->
    </a>

    

    <!-- <a href="{% url 'mngr-forms' %}?formID=stocks">
        <div class="mini_button">
            <span class="material-symbols-outlined">checklist</span>
            <small>Inventory</small>
        </div>
    </a> -->
</div>